body {
    height: 100vh;
    background-color: black;
}

.field {
    display: grid;
    grid-template-rows: repeat(12, 64px);
    grid-template-columns: repeat(3, 64px);
    justify-content: center;
}

.reaf {
    position: relative;
    background-image: url(../assets/grass.png);
}

.reaf:nth-of-type(3n+1)::before {
    content: "";
    width: 64px;
    height: 64px;
    background-image: url(../assets/rock.png), url(../assets/grass.png);
    position: absolute;
    top: 0;
    left: -100%;
}

.reaf:nth-of-type(3n+3)::after {
    content: "";
    width: 64px;
    height: 64px;
    background-image: url(../assets/rock.png), url(../assets/grass.png);
    position: absolute;
    top: 0;
    left: 100%;
}

.rock,
.flower,
.enemy,
.mushroom,
.player,
.stump {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.enh {
    background-color: red;
}

.stump {
    background-image: url(../assets/stump.png);
}

.player {
    animation: player-walk 1s infinite;
}

.enemy {
    animation: enemy-walk 1s infinite;
}

.stump {
    background-image: url(../assets/stump.png);
}

.flower {
    background-image: url(../assets/flower.png);
}

.mushroom {
    background-image: url(../assets/mushroom.png);
}

@keyframes player-walk {

    0%,
    49% {
        background-image: url(../assets/player1.png);
    }

    50%,
    100% {
        background-image: url(../assets/player2.png);
    }
}

@keyframes enemy-walk {

    0%,
    49% {
        background-image: url(../assets/enemy1.png);
    }

    50%,
    100% {
        background-image: url(../assets/enemy2.png);
    }
}