.field {
    display: grid;
    grid-template-columns: repeat(3, 64px);
    grid-template-rows: repeat(12, 64px);
    justify-content: center;
}

.cell {
    width: 64px;
    height: 64px;
}

.cell.reaf {
    background-image: url(../assets/grass.png);

}

.cell:nth-of-type(3n+1):before {
    content: "";
    position: absolute;
    width: 64px;
    height: 64px;
    translate: -100% 0;
    background-image: url(../assets/rock.png), url(../assets/grass.png);
    z-index: -1;
}

.cell:nth-of-type(3n+3):after {
    content: "";
    position: absolute;
    width: 64px;
    height: 64px;
    translate: 100% 0;
    background-image: url(../assets/rock.png), url(../assets/grass.png);
    z-index: -1;
}

.enh {
    background-color: red;
    background-blend-mode: screen;
}

.cell.rock {
    background-image: url(../assets/rock.png), url(../assets/grass.png);
}

.cell.stump {
    background-image: url(../assets/stump.png), url(../assets/grass.png);
}

.cell.flower {
    background-image: url(../assets/flower.png), url(../assets/grass.png);

}

.cell.mushroom {
    background-image: url(../assets/mushroom.png), url(../assets/grass.png);

}

.cell.player {
    animation: player-walk 1s infinite;
}

.cell.enemy {
    animation: enemy-walk 1s infinite;
}



@keyframes player-walk {

    0%,
    49% {
        background-image: url(../assets/player1.png), url(../assets/grass.png);
    }

    50%,
    100% {
        background-image: url(../assets/player2.png), url(../assets/grass.png);
    }
}


@keyframes enemy-walk {

    0%,
    49% {
        background-image: url(../assets/enemy1.png), url(../assets/grass.png);
    }

    50%,
    100% {
        background-image: url(../assets/enemy2.png), url(../assets/grass.png);
    }
}