* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;
}

header>h1 {
    margin-left: 20px;
}

header>h1>a {
    text-decoration: none;
    color: white;
}

.nav {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}

.nav-1,
.nav-2,
.nav-3,
.nav-4 {
    width: 25%;
    text-decoration: none;
    background-color: rgb(53, 53, 53);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-1 {
    background-color: rgb(246, 100, 217);
}

.nav-1:hover,
.nav-2:hover,
.nav-3:hover,
.nav-4:hover {
    color: gray;
}

main {
    padding-bottom: 100px;
}

.card {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.card-body {
    height: 120px;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-title {
    color: white;
    font-size: 24px;
}

.row {
    padding-top: 120px;
}

.row>a {
    display: block;
}

.back-header {
    width: 40px;
    height: 40px;
    background-color: rgb(242, 233, 54);
    position: fixed;
    top: 85%;
    right: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(70, 69, 69);
}

.back-btn {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 70px;
    border-radius: 20px;
    background-color: rgb(234, 225, 49);
    border: none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.back-btn:hover {
    background-color: rgb(187, 179, 40);
}

@media screen and (max-width: 418px) {
    body .nav {
        display: none;
    }

    .main-title {
        font-size: 36px;
    }

    .slide {
        height: 400px;
        margin-bottom: 50px;
    }

    .slide>img {
        height: 400px;
    }

    body .row-sm {
        display: block;
    }

    .container>h3 {
        font-size: 28px;
        text-align: start;
    }

    .game-title {
        display: flex;
        justify-content: center;
    }

    .game-btn {
        margin-bottom: 60px;
    }

    .hum {
        width: 50px;
        height: 70%;
        background-color: rgb(49, 49, 49);
        border-radius: 10px;
        position: relative;
        margin-left: auto;
        margin-right: 20px;
    }

    .border {
        height: 2px;
        width: 80%;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        background-color: white;
        transition: .3s all;
    }

    .border:nth-of-type(1) {
        top: 30%;
    }

    .border:nth-of-type(2) {
        top: 50%;
    }

    .border:nth-of-type(3) {
        top: 70%;
    }

    .hum.isactive>.border:nth-of-type(1) {
        rotate: 45deg;
        top: 50%;
    }

    .hum.isactive>.border:nth-of-type(2) {
        opacity: 0;
    }

    .hum.isactive>.border:nth-of-type(3) {
        rotate: -45deg;
        top: 50%;
    }

    body .btn-close {
        background-color: white;
    }

    .toggle-menu>a {
        width: 150px;
        padding: 10px 30px;
        border-radius: 10px;
    }

    .toggle-menu>a:hover {
        background-color: gray;
    }

    .toggle-menu>a:nth-of-type(1):hover {
        background-color: rgb(193, 79, 170);
    }

    .toggle-menu {
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .card-body {
        height: auto;
    }

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}