* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 1px 1px 1px 1px rgb(190, 190, 190);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

header>h1 {
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100%;
    margin-right: 20px;
}

.nav>a {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-1 {
    color: white;
    background-color: rgb(13, 110, 253);
    height: 100%;
}

.nav>a:nth-of-type(2):hover,
.nav>a:nth-of-type(3):hover,
.nav>a:nth-of-type(4):hover {
    color: rgb(13, 110, 253);
}

.nav-1:hover {
    background-color: rgb(14, 95, 215);
    color: white;
}


footer {
    margin-top: 100px;
    background-color: rgb(13, 110, 253);
    color: white;
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

.menu {
    height: 60%;
    width: 50px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
    display: none;
    z-index: 100;
}

.line {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    transition: .2s all;
}

.offcanvas {
    z-index: 50;
    transition: .3s all;
}

.toggle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 200px;
    margin: auto;
}

.line:nth-of-type(1) {
    top: 20%;
}

.line:nth-of-type(2) {
    top: 50%;
}

.line:nth-of-type(3) {
    top: 80%;
}

.menu.isactive>.border_1 {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
}

.menu.isactive>.border_2 {
    opacity: 0;
}

.menu.isactive>.border_3 {
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
}

.row {
    justify-content: center;
}

.col-date {
    width: 40%;
}

.card {
    overflow: hidden;
}

.col-date:hover>.card>.card-img-top {
    transform: scaleX(1.1);
}

.col-date:nth-of-type(1)>.card,
.col-date:nth-of-type(4)>.card,
.col-date:nth-of-type(5)>.card {
    background-color: rgb(13, 110, 253);
    color: white;
}

.col-date:nth-of-type(2)>.card,
.col-date:nth-of-type(3)>.card,
.col-date:nth-of-type(6)>.card {
    background-color: white;
    color: #333
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: .3s all;

}

.card-body {
    height: 100px;
}

.container {
    margin-top: 150px;
}

.btn {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 120px;
}

@media screen and (max-width:418px) {
    .nav {
        display: none;
    }

    h2 {
        font-size: 32px !important;
    }

    h5 {
        font-size: 24px;
    }

    .menu {
        display: block;
    }

    .toggle-menu {
        margin-top: 100px;
    }

    .toggle-menu>a {
        height: 40px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-date {
        width: 100%;
    }

    .col-date:nth-of-type(1)>.card,
    .col-date:nth-of-type(3)>.card,
    .col-date:nth-of-type(5)>.card {
        background-color: rgb(13, 110, 253);
        color: white;
    }

    .col-date:nth-of-type(2)>.card,
    .col-date:nth-of-type(4)>.card,
    .col-date:nth-of-type(6)>.card {
        background-color: white;
        color: #333
    }
}