* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 1px 1px 1px 1px rgb(190, 190, 190);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

header>h1 {
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100%;
    margin-right: 20px;
}

.nav>a {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-1 {
    color: white;
    background-color: rgb(13, 110, 253);
    height: 100%;
}

.nav>a:nth-of-type(2):hover,
.nav>a:nth-of-type(3):hover,
.nav>a:nth-of-type(4):hover {
    color: rgb(13, 110, 253);
}

.nav-1:hover {
    background-color: rgb(14, 95, 215);
    color: white;
}

.slides {
    display: flex;
    position: relative;
    overflow: hidden;
}

.slide {
    height: 800px;
    display: flex;
    animation: animation 25s infinite linear 1s both;
}

.slide>img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

@keyframes animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slogan {
    position: absolute;
    top: 55%;
    left: 10%;
    width: 35%;
    color: white;
    font-size: 76px;
    font-weight: bold;
}

.slogan>p:nth-of-type(2) {
    text-align: end;
}

.container {
    margin-top: 150px;
}

.container>.sec-2>h2 {
    color: rgb(13, 110, 253);
    font-size: 48px;
    text-align: center;
}

.company-explanation {
    margin-top: 80px;
}

.company-explanation>li>h3 {
    font-size: 32px;
}

.company-explanation>li {
    margin-bottom: 50px;
}

.company-explanation>li>p {
    font-size: 20px;
}

.sec-3 {
    margin-top: 150px;
}

.sec-3>h2 {
    color: rgb(13, 110, 253);
    font-size: 48px;
    text-align: center;
}

.container>.row {
    /* background-color: rgb(37, 38, 40);
    color: white; */
}

.game-title {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: start;
}

.game-explanation {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: start;
}

.escape-runner-img {
    height: 100%;
}

.download-btn {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.sec-4 {
    margin-top: 150px;
}

.sec-4>h2 {
    color: rgb(13, 110, 253);
    font-size: 48px;
    text-align: center;
}

.release {
    margin-top: 100px;
}

.game-img {
    width: 100%;
    object-fit: cover;
}

.game-card {
    padding: 0;
}

.game-card>img {
    width: 33%;
    height: 100%;
}

.game-btn {
    background-color: rgb(255, 255, 255);
    color: rgb(13, 110, 253);
    border: 1px solid rgb(13, 110, 253);
    border-radius: 10px;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    position: relative;
    transition: .3s all;
}

.game-btn::after {
    position: absolute;
    right: 10%;
    top: 50%;
    translate: 0% -50%;
    content: ">";
}

.game-btn:hover {
    background-color: rgb(13, 110, 253);
    color: white;
}

footer {
    margin-top: 100px;
    background-color: rgb(13, 110, 253);
    color: white;
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

.menu {
    height: 60%;
    width: 50px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
    display: none;
    z-index: 100;
}

.line {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    transition: .2s all;
}

.offcanvas {
    z-index: 50;
    transition: .3s all;
}

.toggle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 200px;
    margin: auto;
}

.line:nth-of-type(1) {
    top: 20%;
}

.line:nth-of-type(2) {
    top: 50%;
}

.line:nth-of-type(3) {
    top: 80%;
}

.menu.isactive>.border_1 {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
}

.menu.isactive>.border_2 {
    opacity: 0;
}

.menu.isactive>.border_3 {
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
}

@media screen and (max-width:418px) {
    .nav {
        display: none;
    }

    h2 {
        font-size: 32px !important;
    }

    h5 {
        font-size: 24px;
    }

    .menu {
        display: block;
    }

    .toggle-menu {
        margin-top: 100px;
    }

    .toggle-menu>a {
        height: 40px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body .slogan {
        top: 50%;
        left: 50%;
        translate: -60% -30%;
        width: 80%;
        font-size: 40px;
        display: inline;
    }

    .slogan>p:nth-of-type(2) {
        text-align: end;
    }

    .slides {
        height: 600px;
    }

    .slide {
        height: 100%;
    }

    .slide>img {
        height: 100%;
    }

    .escape-runner-img {
        height: 100%;
        width: 100%;
    }

    .game-card>img:nth-of-type(2) {
        display: none;
    }

    .game-card>img {
        width: 100%;
        height: 200px;
    }
}